$white-text-color: #FCFBFD;
$light-grey: #E2E2E2;
$office-blue: #033E5E;
$dark-office-blue: #041528;
$grey: #293B49;
$dark-grey: #041528;
$tree-green: #458239;
$light-green: #77D6C1;
$teal: #1C92A7;
$dark-tree-green: #273B2D;
$office-building: #6D8A8D;